<?xml version='1.0' encoding='UTF-8'?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot name="E03">
  <link name="base_link">
    <inertial>
      <origin xyz="-0.0028749 -0.0001598 0.025765" rpy="0 0 0"/>
      <mass value="0.72846"/>
      <inertia ixx="0.0009704" ixy="3.6255E-08" ixz="1.4724E-05" iyy="0.00088281" iyz="5.9642E-08" izz="0.0014585"/>
    </inertial>
    <visual>
      <origin xyz="0.002269 0.000191 -0.025196" rpy="0 0 0"/>
      <geometry>
        <mesh filename="meshes/base_link.STL"/>
      </geometry>
      <material name="">
        <color rgba="0.75294 0.75294 0.75294 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="meshes/base_link.STL"/>
      </geometry>
    </collision>
  </link>
  <link name="link1">
    <inertial>
      <origin xyz="-0.0031422 0.0038145 0.16249" rpy="0 0 0"/>
      <mass value="1.9858"/>
      <inertia ixx="0.0049681" ixy="-8.3401E-07" ixz="1.8926E-07" iyy="0.0050038" iyz="-0.00070479" izz="0.0025504"/>
    </inertial>
    <visual>
      <origin xyz="0.003149 0.007321 -0.176552" rpy="0 0 0"/>
      <geometry>
        <mesh filename="meshes/link1.STL"/>
      </geometry>
      <material name="">
        <color rgba="0.75294 0.75294 0.75294 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="meshes/link1.STL"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint0" type="revolute">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="base_link"/>
    <child link="link1"/>
    <axis xyz="0 0 1"/>
    <limit lower="-3.14" upper="3.14" effort="0" velocity="0"/>
  </joint>
  <link name="link2">
    <inertial>
      <origin xyz="-0.0031381 0.12178 -0.10738" rpy="0 0 0"/>
      <mass value="1.3335"/>
      <inertia ixx="0.011589" ixy="-2.4761E-06" ixz="-1.3081E-07" iyy="0.00087426" iyz="-0.00051666" izz="0.011962"/>
    </inertial>
    <visual>
      <origin xyz="0.003138 -0.125641 0.107949" rpy="0 0 0"/>
      <geometry>
        <mesh filename="meshes/link2.STL"/>
      </geometry>
      <material name="">
        <color rgba="0.75294 0.75294 0.75294 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="meshes/link2.STL"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint1" type="revolute">
    <origin xyz="0 0 0.1925" rpy="1.5708 0 0"/>
    <parent link="link1"/>
    <child link="link2"/>
    <axis xyz="0 0 -1"/>
    <limit lower="-1.1775" upper="1.1775" effort="0" velocity="0"/>
  </joint>
  <link name="link3">
    <inertial>
      <origin xyz="0.025239 -0.0031557 0.003282" rpy="0 0 0"/>
      <mass value="1.3926"/>
      <inertia ixx="0.0018223" ixy="2.2159E-07" ixz="0.00063932" iyy="0.0033626" iyz="-5.5731E-07" izz="0.0029273"/>
    </inertial>
    <visual>
      <origin xyz="-0.014574 0.003152 0.01215" rpy="0 0 0"/>
      <geometry>
        <mesh filename="meshes/link3.STL"/>
      </geometry>
      <material name="">
        <color rgba="0.75294 0.75294 0.75294 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="meshes/link3.STL"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint2" type="revolute">
    <origin xyz="0 0.266 0" rpy="3.1416 0 1.5708"/>
    <parent link="link2"/>
    <child link="link3"/>
    <axis xyz="0 0 1"/>
    <limit lower="-1.31" upper="1.31" effort="0" velocity="0"/>
  </joint>
  <link name="link4">
    <inertial>
      <origin xyz="-0.0031522 0.059859 0.20283" rpy="0 0 0"/>
      <mass value="1.0177"/>
      <inertia ixx="0.0065509" ixy="4.4338E-08" ixz="1.7368E-08" iyy="0.0053573" iyz="-0.0019035" izz="0.0020983"/>
    </inertial>
    <visual>
      <origin xyz="0.003151 -0.061787 -0.220177" rpy="0 0 0"/>
      <geometry>
        <mesh filename="meshes/link4.STL"/>
      </geometry>
      <material name="">
        <color rgba="0.75294 0.75294 0.75294 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="meshes/link4.STL"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint3" type="revolute">
    <origin xyz="0 0 0" rpy="1.5708 0 1.5708"/>
    <parent link="link3"/>
    <child link="link4"/>
    <axis xyz="0 0 1"/>
    <limit lower="-3.14" upper="3.14" effort="0" velocity="0"/>
  </joint>
  <link name="link5">
    <inertial>
      <origin xyz="-0.0031493 -0.020993 0.0029865" rpy="0 0 0"/>
      <mass value="1.1872"/>
      <inertia ixx="0.002236" ixy="-7.7814E-08" ixz="1.8552E-07" iyy="0.0013516" iyz="-0.00042098" izz="0.0019324"/>
    </inertial>
    <visual>
      <origin xyz="0.003149 0.019573 0.002642" rpy="0 0 0"/>
      <geometry>
        <mesh filename="meshes/link5.STL"/>
      </geometry>
      <material name="">
        <color rgba="0.75294 0.75294 0.75294 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="meshes/link5.STL"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint4" type="revolute">
    <origin xyz="0 0 0.324" rpy="-1.5708 0 0"/>
    <parent link="link4"/>
    <child link="link5"/>
    <axis xyz="0 0 1"/>
    <limit lower="-1.3" upper="1.3" effort="0" velocity="0"/>
  </joint>
  <link name="link6">
    <inertial>
      <origin xyz="-0.0031344 0.00017235 0.12792" rpy="0 0 0"/>
      <mass value="0.28164"/>
      <inertia ixx="0.00014151" ixy="-3.269E-08" ixz="-7.3942E-08" iyy="0.00014451" iyz="8.8509E-08" izz="0.00025205"/>
    </inertial>
    <visual>
      <origin xyz="-0.036199 -0.00063 -0.244211" rpy="0 0 0"/>
      <geometry>
        <mesh filename="meshes/link6.STL"/>
      </geometry>
      <material name="">
        <color rgba="0.75294 0.75294 0.75294 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="meshes/link6.STL"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint5" type="revolute">
    <origin xyz="0 0 0" rpy="1.5708 0 0"/>
    <parent link="link5"/>
    <child link="link6"/>
    <axis xyz="0 0 1"/>
    <limit lower="-3.14" upper="3.14" effort="0" velocity="0"/>
  </joint>
  <link name="link7">
    <inertial>
      <origin xyz="-0.0070212 -2.8132E-05 0.10327" rpy="0 0 0"/>
      <mass value="0.67393"/>
      <inertia ixx="0.00045542" ixy="-7.0532E-07" ixz="-1.402E-05" iyy="0.00048998" iyz="-3.9758E-07" izz="0.00033911"/>
    </inertial>
    <visual>
      <origin xyz="-0.001876 -3.4e-05 -0.195226" rpy="0 0 0"/>
      <geometry>
        <mesh filename="meshes/link7.STL"/>
      </geometry>
      <material name="">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="meshes/link7.STL"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint6" type="prismatic">
    <origin xyz="0.03927 0 0.1555" rpy="0 0 0"/>
    <parent link="link6"/>
    <child link="link7"/>
    <axis xyz="0 0 1"/>
    <limit lower="-0.1" upper="0.2" effort="0" velocity="0"/>
  </joint>
  <link name="link8">
    <inertial>
      <origin xyz="-4.6921E-06 6.4602E-07 0.28937" rpy="0 0 0"/>
      <mass value="0.012422"/>
      <inertia ixx="1.1734E-06" ixy="-4.0686E-11" ixz="-8.8646E-11" iyy="1.1883E-06" iyz="3.1477E-11" izz="6.469E-07"/>
    </inertial>
    <visual>
      <origin xyz="-6e-06 2e-06 -0.29498" rpy="0 0 0"/>
      <geometry>
        <mesh filename="meshes/link8.STL"/>
      </geometry>
      <material name="">
        <color rgba="0.75294 0.75294 0.75294 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="meshes/link8.STL"/>
      </geometry>
    </collision>
  </link>
  <joint name="joint7" type="revolute">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="link7"/>
    <child link="link8"/>
    <axis xyz="0 0 1"/>
    <limit lower="-3.14" upper="3.14" effort="0" velocity="0"/>
  </joint>
</robot>
